<div>
    <h1><%= brand %> %<= name %></h1>
    <ul>
        <li>Brand: <%= brand %></li>
        <li>Model: <%= name %></li>
        <li>Price: <%= price %></li>
        <li>Year: <%= year %></li>
    </ul>
</div>