<div>
    <h1><%= item.team %></h1>
    <ul>
        <li>Team: <%= item.team %></li>
        <li>Manufacturer: <%= item.brand %></li>
        <li>Sport: <%= item.sport %></li>
        <li>Price: $<%= item.price %> CAD</li>

        <a href="/sports/<%= item.sport %>/<%= item.id %>/update">Update</a>
        <a href="/sports/<%= item.sport %>/<%= item.id %>/delete">Delete</a>
    </ul>

    
</div>